body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}


.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.haf-widht {
    width: 40%;
    padding-left: 3%;
    box-shadow: 10px 10px 40px grey;
    margin-right: 5%;
    margin-left: 5%;
    border-left: 5px solid;

    border-image: linear-gradient(orange, red);
    border-image-slice: 1;

}

#robe-lefr {
    border-image: linear-gradien(blue, cyan);
    border-image-slice: 1;

}

.haf-widht img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 7px;
    color: white;
    width: 800;

}

.top-banner {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.download-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 7px;
    color: white;
    width: 800;

}

.experience-area {
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;


}


.full-stack {
    font-size: 40px;
}

.Dream-Big {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;


}

.joy {
    color: orange;
}