body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}


.orange-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.haf-widht {
    width: 50%;
    padding-left: 2%;


}

.haf-widht img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 7px;
    color: white;
    width: 800;

}

.top-banner {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.download-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 7px;
    color: white;
    width: 800;

}






.Dream-Big {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;


}